<ul>
	<span id="burger-name"></span>{{name}}</span><br>

	<button class="btn btn-success change-devoured" id="add-burg" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOUR!{{else}}LOVED IT!{{/if}}
	</button>

	<button class="btn btn-danger delete-burger" id="add-burg" data-id="{{this.id}}">DELETE!</button>
</ul>